<form [formGroup]="formCadastro" (ngSubmit)="enviar()">
    <fieldset>
        <legend>Informações pessoais</legend>
        <div class="form-group">
            <label for="campoNome">Nome</label>
            <input type="text" formControlName="nome" id="campoNome" class="form-control" placeholder="Nome" />
        </div>
        <div class="form-group">
            <label for="campoCpf">CPF</label>
            <input type="text" formControlName="cpf" id="campoCpf" class="form-control" placeholder="CPF" />
        </div>
        <div class="form-group">
            <label for="campoIdade">Idade</label>
            <input type="number" formControlName="idade" id="campoIdade" class="form-control" aria-describedby="idadeAviso" placeholder="Idade" />
            <small id="idadeAviso" class="form-text text-muted">Deve ser maior de idade</small>
        </div>
        <div class="form-group">
            <label for="campoTelefone">Telefone</label>
            <input type="text" formControlName="telefone" id="campoTelefone" class="form-control" aria-describedby="telefoneAviso" placeholder="Telefone" />
            <small id="telefoneAviso" class="form-text text-muted">Não enviaremos SMS para seu número</small>
        </div>
    </fieldset>
    <fieldset>
        <legend>Dados de usuário</legend>
        <div class="form-group">
            <label for="campoEmail">Email</label>
            <input type="email" formControlName="email" id="campoEmail" class="form-control" placeholder="Email" />
        </div>
        <div class="form-group">
            <label for="campoSenha">Senha</label>
            <input type="password" formControlName="senha" id="campoSenha" class="form-control" placeholder="Senha" />
        </div>
        <div class="form-group">
            <label for="campoConfirmaSenha">Confirmar senha</label>
            <input type="password" formControlName="confirmaSenha" id="campoConfirmaSenha" class="form-control" placeholder="Confirme sua senha" />
        </div>
    </fieldset>
    <div>
        <button type="submit" class="btn btn-primary" [disabled]="formCadastro.invalid">Enviar</button>
    </div>
</form>